<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        font-family: Montserrat, sans-serif;
        color: black;
        background-color: #f0f2f5;
      "
    >
      <div style="padding: 40px">
        <div
          style="
            box-sizing: border-box;
            min-width: 320px;
            max-width: 640px;
            padding: 20px 80px;
            margin: 0 auto 0 auto;
            background-color: #ffffff;
            box-shadow: 0 1px 2px var(rgba(0, 0, 0, 0.2));
          "
        >
          <img
            style="
              padding-top: 30px;
              padding-bottom: 16px;
              display: flex;
              margin: 0 auto;
              width: 100%;
              max-width: 192px;
            "
            src="cid:imagename"
            alt="Logo"
          />

          <h1 style="text-align: center; font-size: 24px; margin-bottom: 40px">
            Nová zprava
          </h1>

          <div
            style="
              padding: 20px;
              margin-top: 2px;
              font-size: 14px;
              background-color: #f3f3f3;
            "
          >
            <div style="line-height: 1.5"><strong>Jméno</strong></div>
            <div style="line-height: 1.5">{{fullname}}</div>
          </div>
          <div
            style="
              padding: 20px;
              margin-top: 2px;
              font-size: 14px;
              background-color: #f3f3f3;
            "
          >
            <div style="line-height: 1.5"><strong>Email</strong></div>
            <div style="line-height: 1.5">{{email}}</div>
          </div>
          <div
            style="
              padding: 20px;
              margin-top: 2px;
              font-size: 14px;
              background-color: #f3f3f3;
            "
          >
            <div style="line-height: 1.5"><strong>Telefon</strong></div>
            <div style="line-height: 1.5">{{phone}}</div>
          </div>

          <div
            style="
              padding: 20px;
              margin-top: 2px;
              font-size: 14px;
              background-color: #f3f3f3;
            "
          >
            <div style="line-height: 1.5"><strong>Předmět</strong></div>
            <div style="line-height: 1.5">{{subject}}</div>
          </div>

          <div
            style="
              padding: 20px;
              margin-top: 2px;
              font-size: 14px;
              background-color: #f3f3f3;
            "
          >
            <div style="line-height: 1.5"><strong>Zpráva</strong></div>
            <div style="line-height: 1.5">{{message}}</div>
          </div>

          <div style="padding: 28px 0; text-align: center">
            Tato zpráva je automaticky generována ze stránky
            <a target="_blank" href="https://phabrcetl.vercel.app/" style="color: orange"
              >phabrcetl.vercel.app</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
